body, html {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}

h1, h2, p {
  margin: 0;
  padding: 0;
}

.navbar {
  position: fixed;
  height: 60px;
  width: 100%;
  background-color: black;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.menu-div {
  padding-right: 10px;
}

.menu {
  position: fixed;
  height: calc(100vh - 60px);
  width: 100%;
  list-style-type: none;
  background: black;
  padding: 0;
  margin: 0;
  margin-top: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 5;
}

.menu-hidden {
  display: none;
}

.menu-item {
  font-size: 48px;
  font-weight: bold;
  color: white;
}

.main {
  padding-top: 60px;
  min-height: 100vh;
  width: 100%;
  background: black;
}

.landing-div {
  height: calc(100vh - 60px);
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.landing-div .title-div {
  padding-left: 10px;
}

.landing-div .title-div .title {
  color: #B8B8B8;
  font-size: 36px;
  font-weight: medium;
}

.landing-div .title-div .sub-title {
  color: white;
  font-size: 36px;
  font-weight: bold;
}

.landing-div .intro-text {
  padding-left: 10px;
  padding-bottom: 50px;
  font-size: 36px;
  font-weight: bold;
  color: #B8B8B8;
}

.landing-div .intro-text span {
  color: white;
}

.profile-div {
  position: relative;
  margin: 0 auto;
  width: 344px;
  height: 445px;
  border: 4px solid white;
  border-radius: 4px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  margin-bottom: 60px;
}

.profile-div .profile-pic {
  border-radius: 50%;
  width: 150px;
  height: 150px;
  border: 2px solid white;
}

.profile-div .profile-title-div {
  text-align: center;
}

.profile-div .profile-title-div .profile-title {
  width: 265px;
  height: 40px;
  background-color: white;
  font-size: 38px;
  font-weight: medium;
  text-shadow: black 1px 1px;
}

.profile-div .profile-title-div .profile-sub-title {
  padding-top: 5px;
  color: white;
}

.profile-div .social-icons {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.profile-div .social-icons .icon {
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.profile-div .social-icons .icon:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.about-myself-wrapper h1 {
  margin: 30px 0;
  height: 50px;
  width: 245px;
  background-color: white;
  font-size: 40px;
  font-weight: bold;
  font-family: 'Roboto';
}

.about-myself-wrapper p {
  font-size: 24px;
  color: white;
  margin-left: 20px;
  margin-bottom: 20px;
}

.about-myself-wrapper .about-myself-title, .about-myself-wrapper .why-coding-title {
  text-align: right;
  padding-right: 10px;
}

.about-myself-wrapper .my-passion-title {
  position: relative;
  margin-left: auto;
  padding-left: 10px;
  margin-top: 60px;
}

.slide-in-right {
  -webkit-animation: slide-in-right 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
          animation: slide-in-right 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

.slide-out-right {
  -webkit-animation: slide-out-right 0.5s cubic-bezier(0.55, 0.085, 0.68, 0.53) both;
          animation: slide-out-right 0.5s cubic-bezier(0.55, 0.085, 0.68, 0.53) both;
}

@-webkit-keyframes slide-out-right {
  0% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
  99% {
    -webkit-transform: translateX(1000px);
            transform: translateX(1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(1000px);
            transform: translateX(1000px);
    opacity: 0;
    display: none;
  }
}

@keyframes slide-out-right {
  0% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
  99% {
    -webkit-transform: translateX(1000px);
            transform: translateX(1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(1000px);
            transform: translateX(1000px);
    opacity: 0;
    display: none;
  }
}

@-webkit-keyframes slide-in-right {
  0% {
    -webkit-transform: translateX(1000px);
            transform: translateX(1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slide-in-right {
  0% {
    -webkit-transform: translateX(1000px);
            transform: translateX(1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
}

.projects-main {
  padding-top: 60px;
  width: 100%;
  background: black;
  height: calc(100vh - 60px);
}

.project-card {
  width: 270px;
  height: 600px;
  border-radius: 20px;
  border: 3px solid white;
}
/*# sourceMappingURL=index.css.map */