body, html {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

h1, h2, p {
    margin: 0;
    padding: 0;
}
.navbar {
    position: fixed;
    height: 60px;
    width: 100%;
    background-color: black;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.menu-div {
    padding-right: 10px;
}

.menu {
    position: fixed;
    height: calc(100vh - 60px);
    width: 100%;
    list-style-type: none;
    background: black;
    padding: 0;
    margin: 0;
    margin-top: 60px; 
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    z-index: 5;
}
.menu-hidden {
    display: none;
}
.menu-item {
    font-size: 48px;
    font-weight: bold;
    color: white;
}

.main {
    padding-top: 60px;
    min-height: 100vh;
    width: 100%;
    background: black;
}

.landing-div {
    height: calc(100vh - 60px);
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    .title-div {
        padding-left: 10px;
        .title {
            color: #B8B8B8;
            font-size: 36px;
            font-weight: medium;
        }
        .sub-title {
            color: white;
            font-size: 36px;
            font-weight: bold;
        }
    }
    .intro-text {
        padding-left: 10px;
        padding-bottom: 50px;
        font-size: 36px;
        font-weight: bold;
        color: #B8B8B8;
        span {
            color: white;
        }
    }
}
.profile-div {
    position: relative;
    margin: 0 auto;
    width: 344px;
    height: 445px;
    border: 4px solid white;
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    .profile-pic {
        border-radius: 50%;
        width: 150px;
        height: 150px;
        border: 2px solid white;
    }
    .profile-title-div {
        text-align: center;
        .profile-title {
            width: 265px;
            height: 40px;
            background-color: white;
            font-size: 38px;
            font-weight: medium;
            text-shadow: black 1px 1px;
        }
        .profile-sub-title {
            padding-top: 5px;
            color: white;
        }
    }
    .social-icons {
        width: 100%;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        .icon {
            transition: 0.2s;
        }
        .icon:hover {
            transform: scale(1.1);
        }
    }
}
.about-myself-title {
    margin: 30px 0;
    height: 50px;
    width: 245px;
    background-color: white;
    font-size: 40px;
    text-align: right;
    font-weight: bold;
    padding-right: 10px;
    font-family: 'Roboto';
}

.about-myself-para {
    font-size: 24px;
    color: white;
    margin-left: 20px;
    margin-bottom: 20px;
}

.slide-in-right {
	animation: slide-in-right 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}
.slide-out-right {
	animation: slide-out-right 0.5s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
}

@keyframes slide-out-right {
    0% {
      transform: translateX(0);
      opacity: 1;
    }
    99% {
      transform: translateX(1000px);
      opacity: 0;
    }
    100% {
        transform: translateX(1000px);
        opacity: 0;
        display: none;
    }
}
@keyframes slide-in-right {
    0% {
      transform: translateX(1000px);
      opacity: 0;
    }
    100% {
      transform: translateX(0);
      opacity: 1;
    }
}
  